Repository reny1cao/url-to-llm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @engineering-team, @backend-team, @engineering-lead, @mcp-team, @crawler-team, @performance-team, @frontend-team, @ui-team, @devops-team, @security-team, @documentation-team

docs: add contributing guidelines
  CONTRIBUTING.md
Owners: @documentation-team

docs: add deployment guide and GitHub setup script
  create-github-repo.sh
  docs/deployment.md
Owners: @engineering-team, @documentation-team

fix: resolve CI issues
  backend/pyproject.toml
  crawler/pyproject.toml
  frontend/package-lock.json
  push-to-github.sh
Owners: @backend-team, @engineering-lead, @crawler-team, @frontend-team, @engineering-team

fix: resolve remaining CI issues
  backend/README.md
  backend/pyproject.toml
  crawler/README.md
  crawler/pyproject.toml
  frontend/.eslintrc.json
Owners: @documentation-team, @backend-team, @engineering-lead, @crawler-team, @frontend-team

fix: resolve linting issues
  backend/app/__init__.py
  backend/app/config.py
  backend/app/dependencies.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/auth.py
  backend/app/models/mcp.py
  backend/app/routers/auth.py
  backend/app/routers/dev.py
  backend/app/routers/mcp.py
  backend/app/services/__init__.py
  backend/app/services/auth.py
  backend/app/services/rate_limit.py
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/tests/test_health.py
  crawler/pyproject.toml
  frontend/app/api-tools/page.tsx
  frontend/next-env.d.ts
Owners: @backend-team, @engineering-lead, @security-team, @mcp-team, @crawler-team, @frontend-team

fix: resolve final CI issues
  backend/app/routers/dev.py
  backend/app/services/rate_limit.py
  frontend/tsconfig.json
Owners: @backend-team, @engineering-lead, @frontend-team

feat: implement core crawler functionality with improved manifest formatting
  backend/app/api/__init__.py
  backend/app/api/crawl.py
  backend/app/main.py
  backend/app/services/auth.py
  backend/app/utils/__init__.py
  backend/app/utils/simple_crawler.py
  backend/requirements.txt
  frontend/app/api/crawl/test/route.ts
  frontend/app/test-crawler/page.tsx
  frontend/components/sidebar.tsx
  frontend/package.json
  frontend/tailwind.config.js
Owners: @backend-team, @engineering-lead, @security-team, @frontend-team, @ui-team

feat: major integration improvements for production readiness
  backend/app/api/crawl.py
  backend/app/dependencies.py
  backend/app/main.py
  backend/app/models/auth.py
  backend/app/repositories/users.py
  backend/app/routers/users.py
  backend/app/tasks/crawler_integration.py
  backend/app/tasks/crawler_tasks.py
  backend/migrations/001_initial_schema.sql
  frontend/lib/api.ts
Owners: @backend-team, @engineering-lead, @frontend-team

fix: resolve frontend TypeScript errors and update API usage
  frontend/app/hosts/[host]/page.tsx
  frontend/app/hosts/page.tsx
  frontend/app/manifests/page.tsx
  frontend/tsconfig.tsbuildinfo
Owners: @frontend-team, @engineering-lead

feat: implement hierarchical navigation and real-time crawl progress
  backend/app/api/crawl_websocket.py
  backend/app/api/documentation.py
  backend/app/crawler/__init__.py
  backend/app/crawler/crawler.py
  backend/app/crawler/documentation_crawler.py
  backend/app/crawler/manifest.py
  backend/app/main.py
  backend/app/models/documentation_dto.py
  backend/app/services/crawler_service.py
  backend/app/storage/__init__.py
  backend/app/storage/s3_client.py
  frontend/app/docs/[host]/[...path]/page.tsx
  frontend/app/docs/[host]/page.tsx
  frontend/app/docs/api/page.tsx
  frontend/app/docs/page.tsx.old
  frontend/app/page.tsx
  frontend/components/breadcrumb.tsx
  frontend/components/documentation-site-card.tsx
  frontend/components/hierarchical-navigation.tsx
  frontend/hooks/useCrawlProgress.ts
Owners: @backend-team, @engineering-lead, @frontend-team, @ui-team

cleanup: remove deprecated crawler service and old files
  crawler/Dockerfile
  crawler/README.md
  crawler/playwright.config.ts
  crawler/pyproject.toml
  crawler/requirements.txt
  crawler/src/__init__.py
  crawler/src/cli.py
  crawler/src/crawler.py
  crawler/src/detector.py
  crawler/src/fetcher.py
  crawler/src/manifest.py
  crawler/src/storage.py
  crawler/tests/test_manifest.py
  docker-compose.prod.yml
  test_crawler.py
Owners: @crawler-team, @engineering-lead, @documentation-team, @performance-team, @engineering-team

fix: add Cloud Run configuration and improve content extraction
  .env.production
  .gcloudignore
  .github/workflows/deploy-cloud-run.yml
  CLAUDE.md
  CLOUD_RUN_FIX.md
  CONTENT_FORMATTING_LOGIC.md
  DEPLOY_CLOUD_RUN.md
  Dockerfile
  FIXES_SUMMARY.md
  LAUNCH_CHECKLIST.md
  NAVIGATION_IMPROVEMENTS.md
  PREMIUM_EXTRACTION_PLAN.md
  Procfile
  README.md
  SYSTEM_ANALYSIS_REPORT.md
  app.json
  backend/Dockerfile
  backend/Dockerfile.cloudrun
  backend/app/core/cloud_config.py
  backend/app/crawler/crawler.py
  backend/app/storage/gcs_storage.py
  backend/run.py
  cloud-run-backend.yaml
  cloudbuild.yaml
  docker-compose.prod.yml
  frontend/Dockerfile
  frontend/Dockerfile.cloudrun
  nginx/nginx.conf
  scripts/deploy.sh
  scripts/setup-gcp.sh
  service.yaml
  web-content-extraction-2025-best-practices.md
Owners: @engineering-team, @devops-team, @engineering-lead, @documentation-team, @backend-team, @frontend-team

fix: update Dockerfile to correct module path for Cloud Run deployment
  CLOUD_RUN_SETUP.md
  Dockerfile
Owners: @documentation-team, @devops-team

fix: reduce database connection pool size for Cloud SQL db-f1-micro
  DEPLOYMENT_STATUS.md
  Dockerfile
  backend/app/db/session.py
Owners: @documentation-team, @devops-team, @backend-team, @engineering-lead

feat: prepare frontend for Cloud Run deployment
  frontend/.gcloudignore
  frontend/Dockerfile
  frontend/Dockerfile.cloudrun
  frontend/package-lock.json
Owners: @frontend-team, @engineering-lead

fix: set correct API URL in frontend build
  DEPLOYMENT_COMPLETE.md
  FRONTEND_DEPLOYMENT.md
  cloudbuild.yaml
  env-vars.yaml
  frontend/Dockerfile
  frontend/cloudbuild.yaml
  frontend/public/favicon.ico
Owners: @documentation-team, @engineering-team, @frontend-team, @engineering-lead

fix: add frontend URL to CORS allowed origins
  backend/app/core/config.py
Owners: @backend-team, @engineering-lead

fix: hardcode production API URL in frontend config
  frontend/next.config.js
Owners: @frontend-team, @engineering-lead

fix: update WebSocket URLs to use production endpoints
  frontend/components/job-progress.tsx
  frontend/hooks/useCrawlProgress.ts
Owners: @frontend-team, @ui-team, @engineering-lead

fix: add error handling for S3 storage failures in crawler
  backend/app/crawler/documentation_crawler.py
  backend/app/storage/s3_client.py
Owners: @backend-team, @engineering-lead

.github/CODEOWNERS:

# This is a CODEOWNERS file
# Each line is a file pattern followed by one or more owners.

# Global owners
* @engineering-team

# Backend
/backend/ @backend-team @engineering-lead
/backend/app/routers/mcp.py @mcp-team @backend-team

# Crawler
/crawler/ @crawler-team @engineering-lead
/crawler/src/crawler.py @crawler-team @performance-team

# Frontend
/frontend/ @frontend-team @engineering-lead
/frontend/app/ @frontend-team
/frontend/components/ @frontend-team @ui-team

# Infrastructure
/docker-compose.yml @devops-team
/Dockerfile @devops-team
/.github/workflows/ @devops-team @engineering-lead
/terraform/ @devops-team @security-team

# Documentation
*.md @documentation-team
/docs/ @documentation-team @engineering-team

# Security
/backend/app/routers/auth.py @security-team @backend-team
/backend/app/services/auth.py @security-team @backend-team
